<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paul.bs.mapper.GrabCompanyInfoMapper">
	<insert id="insert" parameterType="list" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO `grab_company_info`(`grab_company.id`,`email`,`domain_name`,`email_name`)value
		<foreach collection="list" item="item" open="" separator="," close="">
			(#{item.grabCompanyId},#{item.email},#{item.domainName},#{item.emailName})
		</foreach>
	</insert>
</mapper>